.modal-component {
    width: 100vw;
    height: 100vh;
    top: 0;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background-color: rgb(255, 255, 255);
    width: 40rem;
    min-height: 20rem;
    height: max-content;
    display: flex;
    padding: 2rem;
    top: 0;
    border-radius: 10px;
    box-shadow: 0 0px 15px rgba(0,0,0,0.2);
    flex-direction: column;
}

.faixa {
    width: 100%;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.azul {
    background-color: rgb(39, 129, 247);
}

.cinza {
    background-color: rgba(168, 168, 168, 0.2);
}

.row {
    min-height: 2rem;
    height: max-content;
    width: 100%;
    margin: .3rem;
    display: flex;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content ::ng-deep input {
    background-color: rgb(228, 228, 228);
    width: 100%;
    height: 2rem;
    border: 0;
    border-radius: 3px;
    padding: .3rem .8rem;
    margin: .5rem;
    
}

.content ::ng-deep input:hover {
    background-color: rgb(212, 212, 212);
}

.content ::ng-deep input:active {
    background-color: rgb(194, 194, 194);
}

.content ::ng-deep input:focus {
    outline: none;
}

.content ::ng-deep .row{
    min-height: 1rem;
    height: max-content;
    width: 100%;
    margin: .3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content ::ng-deep .btn-default {
    background-color: rgb(34, 138, 199);
    width: 100%;
    height: 2.2rem;
    border: 0;
    border-radius: 3px;
    padding: .3rem .8rem;
    margin: .5rem;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: medium;
}

.content ::ng-deep .btn-default:hover {
    background-color: rgb(25, 117, 170);
}

.content ::ng-deep .btn-default:active {
    background-color: rgb(18, 97, 143);
}

.content ::ng-deep a {
    color: rgb(34, 138, 199);
    text-decoration: underline;
    white-space: nowrap;
    margin: 0rem 1rem;
}

.content ::ng-deep .space {
    width: 100%;
    height: auto;
}
